.search-form {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  background: linear-gradient(
    315deg,
    rgba(0, 64, 101, 0.7) 3%,
    rgba(60, 206, 96, 0.7) 38%,
    rgba(48, 238, 226, 0.7) 68%,
    rgba(255, 25, 25, 0.7) 98%
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.search-form__input {
  width: 300px;
  height: 30px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &::placeholder {
    font-size: 16px;
    color: #cccccc;
  }
}

.search-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 69, 0.562) 25%,
    rgba(60, 132, 206, 0.7) 50%,
    rgba(48, 238, 118, 0.7) 75%,
    rgba(255, 25, 25, 0.7) 100%
  );

  cursor: pointer;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 126, 1);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  }
}
